<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<title>相册模板</title>
		<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="../../css/style1.css?v=1.12" />
		<script type="text/javascript" src="../../js/jquery.min.js" ></script>
	</head>
	<body>
		<div id="wrapper" class="wrapper-9">
			<img src="../../images/watermark9.png" class="flow-image" />
			<div class="container">
				<a href="javascript:void(0);" class="upload-img">
					<label for="upload-file"></label>
				</a>
				<input type="file" name="upload-file" id="upload-file" accept="image/*" style="display:none;" />
				<div class="img-view"></div>
			</div>
			<div class="container1">
				<a href="javascript:void(0);" class="upload-img1">
					<label for="upload-file1"></label>
				</a>
				<input type="file" name="upload-file1" id="upload-file1" accept="image/*" style="display:none;" />
				<div class="img-view1"></div>			
			</div>
			<div class="btns">
				<div class="upload"><label for="upload-file">上传照片②</label></div>				
			</div>				
			<div class="btns1">
				<div class="upload1"><label for="upload-file1">上传照片①</label></div>				
			</div>				
			<div id="share-btn">预览</div>
			<div id="save-img">保存并查看</div>
			<div id="cancel">返回编辑</div>	
		</div>
		<div id="shclFireballs">
			<div class="circle"></div>
			<div class="tips">上传中，请稍候...</div>
		</div>				
		<!--<script type="text/javascript" src="../../js/touch-0.2.14.js"></script>-->
		<script type="text/javascript" src="../../js/hammer.min.js" ></script>
		<script type="text/javascript" src="../../js/promise.js" ></script>
		<script type="text/javascript" src="../../js/html2canvas.js" ></script>
		<script type="text/javascript" src="../../js/jpeg_encoder_basic.js" ></script>
		<script type="text/javascript" src="../../js/exif.js" ></script>
		<script src="../../js/scripts.js?v=1.23"></script>
	</body>
</html>